<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, required: true %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, required: true %>
  </div>

  <div class="field">
    <%= form.label :scheduled_for %>
    <%= form.text_field :scheduled_for,
    data: {
      controller: "flatpickr",
      flatpickr_date_format: "d.m.Y %H:%M",
      flatpickr_enable_time: true,
      flatpickr_time_24hr: true,
      flatpickr_min_date: Time.zone.now
    } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
